<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.FrameWork.TestScript_01"/>
      <class name="com.FrameWork.TestScript_2"/>
      <class name="com.FrameWork.InvocationTimeOut"/>
      <class name="com.FrameWork.TestScript_4"/>
      <class name="com.FrameWork.Data_Provider"/>
      <class name="com.FrameWork.TestScript_3"/>
      <class name="com.FrameWork.TestScript"/>
      <class name="com.FrameWork.TestScript_5"/>
      <class name="com.FrameWork.TestScript1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
